@import './base.css';


.pointer {
  cursor: pointer;
}

.ml-10 {
  margin-left: 10px;
}
.mr-10 {
  margin-right: 10px;
}

.mr-10-20 {
  margin: 10px 20px;
}
.mr-20-0 {
  margin: 20px 0px;
}
.mrtop-10 {
  margin-top: 10px;
}
.mrbot-10 {
  margin-bottom: 10px;
}

.pd-0-20 {
  padding: 0 20px;
}

.float-right {
  float: right;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.flex-row-reverse {
  display: flex; 
  flex-direction: row-reverse;
}

.row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.tab-content-header{
  display: flex;
  justify-content: space-between;
}


.form-group {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}

.table-header {
  font-weight: bold;
  background-color: #FAFCFF;
}